<?xml version="1.0" ?>

<launch>

    <!-- 导入模型 -->
    <!-- The name of the parameter under which the URDF is loaded -->
    <arg name="robot_description" default="robot_description"/>
    <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find rokae_description)/urdf/xMatePro7.xacro'"/>    -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find xmatepro7_description)/urdf/xMatePro7.urdf'"/>   
  
    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <rosparam param="source_list">[/joint_states]</rosparam>
    </node> -->
    
    <!-- Load robot_state_publisher node -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
        <param name="robot_description" value="robot_description"/>
        <param name="publish_frequency" type="double" value="100.0" />
    </node> -->

    
    <include file="$(dirname)/xmatepro7_ros_controllers.launch" />

</launch>
